//colors
$grey: #333;
$price: #c4201d;

@font-face {
    font-family: 'mns-london-bold';
    src: url("../fonts/MSLondoneText-Demibold.aeeb7c45.woff2") format("woff2");
}

@font-face {
    font-family: 'mns-london-regular';
    src: url("../fonts/MSLondoneText-Regular.3b0f8fd0.woff2") format("woff2");
}

body {
    font-family: 'mns-london-regular',Helvetica,Arial,sans-serif;
    font-size: 1rem;

    h1 {
        font-family: 'mns-london-bold',Helvetica,Arial,sans-serif;
        font-size: 2.2rem;
    }
}

.row:first-of-type {
    margin-top: 1.5em;

    .col {
        padding: 1.5em;
    }
}

#color-picker-wrapper {
    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            float: left;

            input[type="radio"] {
                display: none;

                &:checked + label {
                    span {
                        outline: 1px solid black;
                        border: 1px solid white;
                    }
                }
            }

            label {
                display: inline-block;
                width: 40px;
                height: 40px;
                margin-right: 10px;
                cursor: pointer;

                &:hover {
                    span {
                        outline: 1px solid black;
                        border: 1px solid white;
                    }
                }

                span {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

#select-size-row {
    label:first-of-type {
        display: block;
        width: 100%;
    }

    select, label {
        display: none;
    }

    select:first-of-type {
        display: block;
    }
}

#price-row {
    color: $price;

    p {
        display: none;
    }

    p:first-of-type {
        display: block;

        span {
            display: none;
        }

        span:first-of-type {
            display: block;
        }
    }

    .normal-price {
        color: $grey;
    }

    .current-price {
        font-family: 'mns-london-bold',Helvetica,Arial,sans-serif;
        font-size: 2.2rem;
        padding-right: 0.30em;
    }

    .was {
        color: $grey;
        text-decoration: line-through;
        padding-left: 0.30em;
    }
}

.image {
    .image-wrapper {
        display: none;

        img {
            display: none;
        }

        img:first-of-type {
            display: block;
        }
    }

    .image-wrapper:first-of-type {
        display: block;
    }
}
