<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>M&S test</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<main>
		<div class="container">
			<%- body %>
		</div>
	</main>

	
	<script src="/js/script.js"></script>
</body>
</html>