<%- contentFor('body') %>
<div class="row">
	<div class="col-md-6 image">
		<div class="image-wrapper">
			<img class="img-fluid" src="<%- data.images[0].huge %>" alt="<%- data.name %>" />
		</div>
		<% styles.forEach(style => { %>
			<div class="image-wrapper">
				<% style.images.forEach(image => { %>
					<img class="img-fluid" src="<%- image.huge %>" />
				<% }); %>
			</div>
		<% }); %>
	</div>
	<div class="col-md-6 content">
		<div class="container">
			<div class="row">
				<h1><%- data.name %></h1>
			</div>
			<div class="row" id="price-row">
				<% styles.forEach(style => { %>
				<p>
					<% style.skus.forEach(sku => { %>
					<span class="current-price">
						<%= sku.price.currentPrice %>
					</span>
					<% }); %>
				</p>	
				<% }) %>
			</div>
			<div class="row">
				<p>Selected colour: </p>
			</div>
			<div class="row" id="color-picker-wrapper">
				<ul>
					<% for (style of styles) { %>
					<li>
						<input type="radio" name="color" id="<%= style.colour.replace(' ','') %>"
							value="<%= style.colour %>" />
						<label for="<%= style.colour.replace(' ','') %>">
							<span style="background-color:<%= style.hexCode %>"></span>
						</label>
					</li>
					<% } %>
				</ul>
			</div>
			<div class="row" id="select-size-row">
				<% styles.forEach((style, i) => { %>
				<label for="select-<%= i %>">Selected size: </label>
				<select id="select-<%= i %>">
					<% style.skus.forEach(sku => { %>
					<option value="<%= sku.size.Size %>"><%= sku.size.Size %></option>
					<% }); %>
				</select>
				<% }); %>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label for="quantity"></label>
					<select id="qualtity">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
				</div>
				<div class="col-md-6">
					<button class="btn-primary" id="add-to-basket">Add to bag</button>
				</div>
			</div>
			<div class="row">
				<p><%- data.description %></p>
			</div>
		</div>
	</div>
</div>